<!-- admin_panel/templates/admin_panel/approve_psm_request.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve PSM Request</title>
</head>
<body>
    <h1>Approve PSM Request</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Approve PSM Request</button>
    </form>

    <a href="{% url 'admin_panel:manage_psms' %}">Back to PSM Request Management</a>
</body>
</html>
