<!-- surveyor/templates/surveyor/submit_csr_request.html -->
{% extends 'base.html' %}

{% block title %}Submit CSR Request{% endblock %}

{% block content %}

<div class="card col-span-1 row-span-3 shadow-lg xl:col-span-4 bg-base-100">
    <div class="card-body">
       <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="my-4 text-4xl font-bold card-title">Submit CSR Request</h2>
          <!--PSM Request-->
          <div class="mb-4 space-x-2 card-actions">
             <div class="w-full md:w-auto flex items-center">
                <label class="block uppercase tracking-wide text-slate-700 text-xs font-bold mb-2 mr-2">
                PSM Request:
                </label>
                &nbsp;
                <div class="relative flex">
                   {{ form.psm_request }}
                </div>
             </div>
          </div>
          <!--Excel Data-->
          <div class="mb-4 space-x-2 card-actions">
             <div class="w-full md:w-auto flex items-center">
                <label class="block uppercase tracking-wide text-slate-700 text-xs font-bold mb-2 mr-2" for="status-select">
                Excel Data:
                </label>
                &nbsp;
                <div class="relative flex">
                   {{ form.excel_data }}
                </div>
             </div>
          </div>
          <!--Raw Data-->
          <div class="mb-4 space-x-2 card-actions">
             <div class="w-full md:w-auto flex items-center">
                <label class="block uppercase tracking-wide text-slate-700 text-xs font-bold mb-2 mr-2" for="status-select">
                Raw Data:
                </label>
                &nbsp;
                <div class="relative flex">
                   {{ form.raw_data }}
                </div>
             </div>
          </div>
          <!--Survey Report-->
          <div class="mb-4 space-x-2 card-actions">
            <div class="w-full md:w-auto flex items-center">
               <label class="block uppercase tracking-wide text-slate-700 text-xs font-bold mb-2 mr-2" for="status-select">
               Survey Report:
               </label>
               &nbsp;
               <div class="relative flex">
                  {{ form.survey_report }}
               </div>
            </div>
         </div>
          <button type="submit" class="btn btn-sm">Submit</button>
        </form>
    </div>
 </div>
{% endblock %}
