.main-cont {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to a new line on smaller screens */
  }
  
.menu {
    flex: 0 0 auto; /* Prevent the menu from growing or shrinking */
    width: 30%; /* Adjust the width as needed */
}
  
.content {
    flex: 1; /* Allow the content to grow or shrink */
    width: 70%; /* Adjust the width as needed */
}

.modal:not(dialog:not(.modal-open)), .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    animation: modal-pop 0.2s ease-out;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
    /* Adjust the layout to stack the menu and content vertically */
    .container {
        flex-direction: column; /* Switch to a column layout */
    }
    
    .menu {
        width: 10%; /* Take up the full width in mobile mode */
        order: 2; /* Move the side menu below the content */
    }
    
    .content {
        width: 60%;
        order: 1; /* Move the content above the side menu */
    }
  }
  
  /* Styles for tablet screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Adjust the layout to place the menu and content side by side */
    .menu {
      display: inline-block;
      width: 30%; /* Adjust the width as needed */
    }
    .content {
      display: inline-block;
      width: 70%; /* Adjust the width as needed */
    }
  }
  